/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-blend-mode: overlay, screen, screen, screen, screen, screen, screen, screen, normal;
    background-image: radial-gradient(at 100vw 0px, rgb(73, 0, 133) 0%, rgb(32, 0, 51) 100%), radial-gradient(farthest-side at 100vw 0px, rgb(189, 17, 97) 0%, rgba(73, 0, 170, 0.55) 70%, rgba(73, 0, 170, 0) 100%), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-left._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-right._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-left._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-right._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-left._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/dot-pattern-right._CB1198675309_.png"), url("https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/smoke-bg_v2.jpg");
    background-position: right top, right top, left 200px, right min(100vmin, 20%), left min(500vmin, 50%), right min(700vmin, 60%), left min(80vmax, 90%), right min(90vmax, 95%), right top;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-y;
    background-size: max(800px, 100%) 100%, 100% max(120vw, 1200px), max(50%, 250px), max(50%, 250px), max(50%, 250px), max(50%, 250px), max(50%, 250px), max(50%, 250px), auto;
    background-color: rgb(73, 0, 133);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.featured-header {
    display: flex;
    margin-bottom: 2vh;
}

.featured-content {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
    box-sizing: content-box;
}

/* width */
.featured-content::-webkit-scrollbar {
    height: 10px;
}

/* Handle */
.featured-content::-webkit-scrollbar-thumb {
    background: #4c4c4c;
    border-radius: 20px;
}

/* Handle on hover */
.featured-content::-webkit-scrollbar-thumb:hover {
    background: #363636; 
}

.featured-element {
    background-color: #3C3D37;
    border-radius: 10px;
    img {
        border-radius: 10px 10px 0px 0px;
    }
}

.featured-detail {
    padding: 5px;
    padding-bottom: 20px;
}

.featured-detail-header {
    margin-bottom: 5vh;

    p {
        color: whitesmoke;
    }
}

.featured-detail-button {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    background-color: #565656;
    text-decoration: none;
    color: skyblue;
    padding: 0.5rem 1rem;
    border-radius: 15rem;
}

.secondary-btn {
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 15rem;
}